// Colors

// Primary

$BrightRed: hsl(12, 88%, 59%);
$DarkBlue: hsl(228, 39%, 23%);

// Neutral

$DarkGrayishBlue: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$VeryPaleRed: hsl(13, 100%, 96%);
$PaleRed: #fb8f73;
$VaryLightGray: hsl(0, 0%, 98%);

// Font Weights

$light: 400;
$semiBold: 500;
$bold: 700;

// Container width

$max-width: 1200px;
