@use "../utilities/variables" as v;
@use "../utilities/mixins" as *;
@use "../utilities/breakpoints" as *;

footer {
  background: v.$VeryDarkBlue;
  color: white;
  li {
    @include transition(color 0.5s);
    cursor: pointer;
    &:hover {
      color: v.$BrightRed;
    }
  }
  @include lg {
    padding: 3rem 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    // row-gap: 1rem;
    @include lg {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .item {
      align-self: center;
    }
    .email-box {
      grid-column: 1 / span 2;
      align-self: center;
      @include lg {
        grid-column: 4 / span 1;
        align-self: flex-start;
      }
      form {
        width: 100%;
        @include flex(center, center, row);
        flex-wrap: wrap;
        gap: 0.5rem;
        @include sm {
          justify-content: center;
        }
        input[type="email"] {
          padding: 10px 15px;
          border-radius: 50px;
          border: none;
          outline: none;
          @include lg {
            width: 70%;
          }
        }
      }
    }
    .footer-menu-left {
      @include lg {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
      }
      ul {
        li:not(:last-child) {
          margin-bottom: 1rem;
        }
        @include lg {
          @include flex;
        }
      }
    }
    .footer-menu-right {
      @extend .footer-menu-left;
      @include lg {
        grid-column: 3 / span 1;
      }
    }
    .socials {
      grid-column: 1 / span 2;
      justify-self: left;
      width: 100%;
      justify-content: space-evenly;

      @include flex(space-between, center, row);
      @include lg {
        align-self: end;
      }
      @include sm {
        grid-column: 1 / span 1;
      }
      img {
        width: 30px;
      }
    }
    .footer__logo {
      grid-column: 1 / span 2;
      text-align: center;
      @include lg {
        order: -1;
        grid-column: 1 / span 1;
        align-self: flex-start;
        text-align: left;
      }
      img {
        @include lg {
          width: 75%;
        }
      }
    }
    .copyright {
      text-align: center;
      color: v.$DarkGrayishBlue;
      grid-column: 1 / span 2;
      font-size: 0.9rem;

      @include lg {
        grid-column: 4 / span 1;
        text-align: right;
        align-self: flex-end;
      }
    }
  }
  .btn {
    border: none;
  }
}
