@use "../utilities/variables" as v;
@use "../utilities/mixins" as *;
@use "../utilities/breakpoints" as *;

.reviews {
  text-align: center;
  margin-bottom: 4rem;
  .container {
    @include flex;
    max-width: 100%;
  }
  h2 {
    margin-bottom: 4rem;
  }
  .reviews__container {
    @include flex;
    gap: 2rem;
    width: 100%;
    height: 21rem;
    position: relative;
    padding: 10px;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    // pointer-events: none;
    user-select: none;
    @include lg {
      overflow-x: scroll;
      height: 23rem;
      // @include flex(space-between, center, row);
    }
    .slider {
      width: 100%;
      position: absolute;
      top: 0px;
      height: 100%;
      @include lg {
        @include flex(space-between, center, row);
        width: 100%;
        gap: 2rem;
        left: 0;
      }
    }
  }
  .review {
    @include flex;
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    opacity: 0;
    & > * {
      margin-bottom: 2rem;
    }
    @include transition(opacity 0.5s);
    @include lg {
      gap: 2rem;
      position: relative;
      display: block;
      min-width: 30rem;
      position: relative;
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
    img {
      width: 6rem;
      pointer-events: none;
    }
    .name {
      color: v.$DarkBlue;
      font-weight: v.$bold;
      font-size: 1.2rem;
    }
  }
  .btn {
    @include lg {
      margin-top: 5rem;
    }
  }
  .circles {
    margin-bottom: 4rem;
    margin-top: 1rem;
    @include lg {
      display: none;
    }
    span {
      width: 10px;
      height: 10px;
      border: 2px solid v.$BrightRed;
      border-radius: 50%;
      display: inline-block;
      @include transition(background-color 0.5s);
      &:hover,
      &.active {
        background-color: v.$BrightRed;
      }
    }
    span:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
